body {
  margin: 0;
  background-color: bisque;
}

.parallax {
  height: 100vh;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 100px;
  background-position: center;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(0px);
}

.layer2 {
  transform: translateZ(18px);
}

.layer3 {
  transform: translateZ(28px);
}

.parallax-layer.layer1 {
  background-image: url("Filter/heroOut.png");
  background-size: cover;
}

.parallax-layer.layer2 {
  background-image: url("Filter/heroMid.png");
  background-size: cover;
}

.parallax-layer.layer3 {
  background-image: url("Filter/heroM.png");
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .parallax-layer.layer1,
  .parallax-layer.layer2,
  .parallax-layer.layer3 {
    background-size: cover;
    background-position: center;
  }
  .parallax {
    perspective: 110px;
  }
}

.parallax-bot {
  position: absolute;
  width: 100vw;
  height: 80vh;
  top: 100vh;
  background-color: #fff;
}
