body {
  margin: 0;
  overflow-x:hidden;
  background-color: bisque;
}

.flexy {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  height:100vh;
}

.parallax {
    transform-style: preserve-3d;
  margin: 0;
  height: 150vh;
  /* width: auto; */
  /* width: 200vh; */
  
  overflow-x: hidden;
  perspective: 100px;
  background-position: bottom;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(0px);
}

.layer2 {
  transform: translateZ(10px);
}

.layer3 {
  transform: translateZ(20px);
}

.layer4 {
  height: 30%;
  width: 20%;
  transform: translateZ(50px);
  transform: rotate(40deg);
  padding-left: 10rem;
}

.parallax-layer.layer1 {
  background-image: url("Filter/heroOut.png");
  background-size: cover;
}

.parallax-layer.layer2 {
  background-image: url("Filter/heroMid.png");
  background-size: cover;
}

.parallax-layer.layer3 {
  background-image: url("Filter/heroM.png");
  background-size: cover;
}

.parallax-layer.layer4 {
  background-image: url("Filter/logo.png");
  
}

@media only screen and (max-width: 800px) {
  .parallax-layer.layer1,
  .parallax-layer.layer2,
  .parallax-layer.layer3,
  .parallax-layer.layer4 {
    background-position: center;
  }
  .parallax {
    perspective: 50px;
  }
  .layer1 {
    transform: translateZ(0px);
  }

  .layer2 {
    transform: translateZ(6px);
  }

  .layer3 {
    transform: translateZ(13px);
  }
  .layer4 {
    transform: translateZ(20px);
  }

  .parallax {
    height: 130vh;
  }
}
*/ .parallax-bot {
    width:100vw;
    height:80vh;
    top:100vh;
    background-color:#FFF;
}
