html {
  width: 100vw;
  height: 100vh;
  perspective: 1px;
  perspective-origin: center center;
  overflow-x: hidden;
  background-color: tan;
  font-family: "Patrick Hand SC", cursive;
  font-size: clamp(1.105rem, 2vw, 1.15rem);

  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}

body {
  margin: 0;
}

.midflex {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.midflex > * {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  max-width: 290px;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 10px 5px 5px gray;
}

.midflex img {
  width: 100%; /* Set the width to 100% to fill the container */

  object-fit: cover; /* Ensure the image covers the container */
  object-position: center; /* Center the image within the container */
}

.midflex h2 {
  justify-items: center;
  margin: 10px;
  overflow: visible;
}

.mid {
  grid-area: mid;
  padding-top: 0rem;

}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: minmax(10px, 30px) minmax(30px, 320px) minmax(30px, 320px) 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "hero hero hero hero hero hero"
    "hero hero hero hero hero hero"
    "sideL mid mid mid mid sideR"
    "sideL foot foot foot foot sideR";
}

.overflow {
  position: fixed;
  width: min-content;
  /* height: 20vh; */
  top: 20vh;
  left: 6vh;
  z-index: 5;
  /* transform: rotate(40deg); */
  opacity: 93%;
  max-width: 35%;
  height: auto;
}

.nav {
  grid-area: nav;
  background-image: url("Filter/navback.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  z-index: 1;
  /* font-style: italic; */
  font-weight: bold;
}

.sideR {
  grid-area: sideR;
  background-image: url("Filter/bg.png");
  background-repeat: repeat;
}

.sideL {
  grid-area: sideL;
  background-image: url("Filter/bg.png");
  background-repeat: repeat;
}

.hero {
  grid-area: hero;
  background-image: url("Filter/Untitled design.png");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;
}

.foot {
  grid-area: foot;
  padding-bottom: 2000px;
}

/* Style the navbar */
#navbar {
  overflow: auto;
  background: rgb(198, 255, 0);
  background: linear-gradient(
    4deg,
    rgba(198, 255, 0, 0.17139355742296913) 14%,
    rgba(198, 255, 0, 0.17139355742296913) 20%,
    rgba(255, 201, 0, 0.5579481792717087) 15%,
    rgba(217, 155, 92, 0.16299019607843135) 34%,
    rgba(197, 131, 141, 0.3310574229691877) 34%,
    rgba(220, 112, 86, 0.14898459383753504) 38%,
    rgba(255, 81, 0, 0.20220588235294112) 30%
  );
  border-bottom: solid 1px gray;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: #3d3c2d;
  text-align: center;
  padding-right: 4rem;
  padding-left: 2rem;
  border-right: solid 1px gray;
  text-decoration: none;
}

/* Page content */
/* .content {
  padding: 16px;
} */

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

@media only screen and (min-width: 700px) {
  .overflow {
    padding-left: 2rem;
    padding-right: 15rem;
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  #navbar a {
    float: right; /* Remove the float to make items stack */
    padding-right: 0.9rem; /* Adjust padding for better spacing */
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    border-right: solid 1px gray; /* Remove the right border for last item */
  }
  .overflow {
    max-width: 50%;
    padding-left: 10px;
  }
}

/* //carousel */

#carousel {
  max-width: 1900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
.slide-indicators {
  display: flex;
  justify-content: center;
}
.slide-indicator {
  height: 44px;
  width: 50px;
  display: flex;
  justify-items: center;
  cursor: pointer;
}
.slide-indicator:after {
  content: "";
  background-color: #878787;
  height: 10px;
  margin-top: 10px;
  width: 40px;
}
.slide-indicator.active:after,
.slide-indicator:hover:after {
  background-color: #bc7f7f;
}
.slide-banner {
  background-color: #000;
  opacity: 70%;
  color: #fff;
  position: absolute;

  left: 0;
  bottom: clamp(0.1rem, 1vw, 1rem);
  padding: clamp(0.5rem, 2vw, 1.15rem);
  font-size: 2.5vw;
  z-index: 3;
}
.slide-banner a {
  color: #fff;
}
#slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.slide {
  scroll-snap-align: center;
  position: relative;
  min-width: 98%;
  padding-top: 20%;
  padding-bottom: 20%;
}
.slide img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.arrow {
  color: #fff;
  height: 20px;
  width: 20px;
  background-color: #000;
  position: absolute;
  padding: clamp(0.1rem, 1vw, 1rem);
  opacity: 0.2;
  cursor: pointer;
}
.arrow.back {
  left: 10px;
  top: 10px;
}
.arrow.forward {
  right: 10px;
  top: 10px;
}
.arrow:hover {
  opacity: 1;
}
